<div id="accounts-manager" class="editor" ng-if="authenticated" ng-controller="AccountsManagerCtrl">

    <section class="light">

        <div class="container">

            <h1>Accounts manager</h1>

            <div>

                <p>Generate passwords for ALL users</p>
                <button class="btn btn-success" ng-click="generateAllPasswords()">Generate</button>
            
            </div>

            <div>  

                <p>Generate password for user with email:</p>
                <input class="account-email" type="email" ng-model="email">
                <button class="btn btn-success" ng-click="generateSinglePassword(email)">Generate</button>
            
            </div>

        </div>

    </section>

</div>