  <div id="checkout" class="shop" ng-controller="ShopCtrl">

    <section class="light">

        <div class="container">

            <h1>Order checkout</h1>

            <div class="col-md-8">

              <p>
                  Your order is ready to be processed. Please verify everything is correct before confirming it. 
              </p>

              <p>
                  As soon as you confirm it, you will soon get an email with all details. Keep it in case you have any problems with the payment.
              </p>

              <p>
                  Please make a bank transfer to the following bank account and send us a proof of payment to 
                  <a href="mailto:incoming@agorasturias.org">incoming@agorasturias.org</a>
              </p>

              <p>
                  If you prefer you can also send us the money via 
                  <a href="https://transferwise.com/u/1cb1d" target="_blank">TransferWise</a> 
              </p>

            </div>

            <div class="col-md-4">

              <p><b>Name</b>: AEGEE-Oviedo</p>
              <p><b>Account number</b>:2048 0153 64 3400002243</p>
              <p><b>IBAN</b>: ES78 2048 0153 64 3400002243</p>
              <p><b>SWIFT/BIC</b>: CECAESMM048</p>
              <p><b>Bank</b>: Liberbank S.A.</p>
              <p><b>Address</b>: Pz Gesta de Oviedo, 4<br/>33007 Oviedo (Spain)</p>

            </div>

        </div>

        <div class="container">

            <div class="col-md-8">

              <p class="lead">Your order:</p>

              <div>

                <ul>
                  
                  <li ng-repeat="item in cart.items">                

                    {{item.quantity}}x {{item.name}} = {{(item.price * item.quantity | number:2) + " €"}}

                  </li>

                </ul>

                <p class="lead">Total price: {{(cart.getTotalPrice() | number:2) + " €"}}</p>

              </div>

            </div>

            <div class="col-md-4 buttons">

              <p>

                <button class="btn btn-block" ng-click="goToShop()">
                  <i class="fa fa-arrow-left" /> Back to shop
                </button>

                <button class="btn btn-block btn-success" ng-click="saveOrder('Transfer');"
                  <i class="fa fa-eur" /> Confirm order
                </button>

              </p>

            </div>

        </div>

    </section>

</div>
