<div id="sections-editor" class="editor" ng-controller="EditorCtrl">

  <section ng-repeat="section in sectionsList" ng-class-even="'light'" ng-class-odd="'dark'">

    <div class="container">

       <form name="sectionsEditorForm" role="form">

            <div>
          
              <p>
                <strong>Section</strong>
              </p>

              <input class="form-control" type="text" ng-model="section.seccion" id="name" name="name">

            </div>

          
            <div>

                <button class="btn btn-success" ng-click="editSection(section);">Edit</button>

                <button class="btn btn-danger" 
                    ng-click="doDeleteSection(section.id); notify('Section successfully deleted', 'danger');">
                    Delete
                </button>

            </div>

        </form>

    </div>

  </section>

</div>
