<div id="menus-edit" ng-controller="MenusCtrl">

  <section ng-repeat="menu in menusList" ng-class-even="'light'" ng-class-odd="'dark'">

    <div class="container">

      <input class="form-control" type="text" ng-model="menu.name" id="name" name="name">
      <input class="form-control" type="text" ng-model="menu.es_text" id="esText" name="esText">
      <input class="form-control" type="text" ng-model="menu.en_text" id="enText" name="enText">

      <input class="btn btn-success" value="Save"
      ng-click="doSaveMenu(menu);">

      <input class="btn btn-danger" value="Delete"
      ng-click="doDeleteMenu(menu.id); notify('Menu successfully deleted', 'danger');">

    </div>

  </section>

</div>
