<div id="post-editor" class="editor" ng-if="authenticated" ng-controller="EditPostCtrl">
  
  <section class="light">
    
    <div class="container">
      
      <form name="postEditForm" role="form">

        <div>

          <input class="btn btn-success" value="Save" 
            ng-click="doEditPost(currentPost); notify('Post successfully saved', 'success');">
          
          <input class="btn btn-danger" value="Delete" 
            ng-click="doDeletePost(currentPost.id); notify('Post successfully deleted', 'danger');">

        </div>

        <div>

          <p>
            <strong>Image URL</strong>
          </p>
          
          <input class="form-control" type="text" ng-model="currentPost.image" id="image" name="image">

        </div>

        <div>

          <p class="lead">English version</p>

          <p>
            <strong>Title</strong>
          </p>
          
          <input class="form-control" type="text" ng-model="currentPost.engTitle" name="engTitle">

          <p>
            <strong>Body</strong>
          </p>

          <textarea ckeditor="editorOptions" name="engBody" ng-model="currentPost.engText"></textarea>

        </div>

        <div>

          <p class="lead">Spanish version</p>

          <p>
            <strong>Title</strong>
          </p>

          <input class="form-control" type="text" ng-model="currentPost.esTitle" name="esTitle">

          <p>
            <strong>Body</strong>
          </p>

          <textarea ckeditor="editorOptions" name="esBody" ng-model="currentPost.esText"></textarea>

        </div>

        <div>

          <input class="btn btn-success" value="Save" 
            ng-click="doEditPost(currentPost); notify('Post successfully saved', 'success');">

          <input class="btn btn-danger" value="Delete" 
            ng-click="doDeletePost(currentPost.id); notify('Post successfully deleted', 'danger');">
        
        </div>

      </form>

    </div>

  <section>

</div>
