<section id="shop" class="product light" ng-controller="ShopCtrl">

    <div class="container">

        <h1 translate="PRODUCT_DESCRIPTION"></h1>

        <h2 class="center">
            <b>{{product.name}}</b>
        </h2>

        <div>

            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="col-md-8">

                        <div class="img-wrapper">
                            <img class="img-responsive" ng-src="{{product.image}}" alt="{{product.name}}" />
                        </div>

                        <p>
                            {{product.description}}
                        </p>
                    </div>

                    <div class="col-md-4">

                        <div class="price-box">
                            <p>
                                Price: {{(product.price | number:2) + " €"}}
                            </p>

                            <a ng-click="goToCart()" title="Go to the shopping cart" 
                                ng-disabled="cart.getTotalCount() < 1">
                                <i class="fa fa-shopping-cart" />
                                <b>{{cart.getTotalCount()}}</b> items, 
                                <b>{{(cart.getTotalPrice() | number:2) + " €"}}</b>
                                <span ng-show="cart.getTotalCount(product.id) > 0">
                                    <br/>{{cart.getTotalCount(product.id)}} x {{product.name}} already in the shopping cart
                                </span>
                            </a>
                        </div>

                        <button class="btn btn-block btn-success" 
                            ng-click="cart.addItem(product.id, product.name, product.price, 1);
                                notify('One ' + product.name + ' has been added to the shopping cart', 'success');">
                            <i class="fa fa-cart-plus" /> Add to the shopping cart
                        </button>
                        <button class="btn btn-block btn-danger" 
                            ng-click="cart.addItem(product.id, product.name, product.price, -10000);
                                notify('All ' + product.name + ' have been removed from the shopping cart', 'danger');"
                            ng-disabled="cart.getTotalCount(product.id) < 1">
                            <i class="fa fa-trash-o" /> Remove from the shopping cart
                        </button>
                        <button class="btn btn-block" ng-click="goToShop()">
                            <i class="fa fa-arrow-left" /> Back to shop
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>