<section id="profile" class="light" ng-controller="ProfileCtrl">

    <div class="container">

      <h1 translate="PROFILE"></h1>

      <div class="col-md-6">

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Full name</h3>
          </div>
          <div class="panel-body">
            {{userData.name}}
          </div>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Email</h3>
          </div>
          <div class="panel-body">
            {{userData.email}}
          </div>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Username</h3>
          </div>
          <div class="panel-body">
            {{userData.username}}
          </div>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Body</h3>
          </div>
          <div class="panel-body">
            {{userData.body}}
          </div>
        </div>

      </div>

      <div class="col-md-6">

        <p class="lead">Change your password:</p>

        <form name="passwordForm" novalidate
            ng-submit="changePassword(passwordForm.$valid, oldPassword, newPassword)">

                <div class="form-group" ng-class="{ 'has-error' : passwordForm.old.$invalid && submitted }">

                    <label>Old password</label>
                    <input type="password" name="old" class="form-control" ng-model="oldPassword" required>

                    <p class="help-block" ng-show="passwordForm.old.$invalid && submitted">
                        Please insert your current password
                    </p>

                </div>

                <div class="form-group" ng-class="{ 'has-error' : passwordForm.new.$invalid && submitted }">

                    <label>New password</label>
                    <input type="password" name="new" class="form-control" ng-model="newPassword" required>

                    <p class="help-block" ng-show="passwordForm.new.$invalid && submitted">
                        Please insert your new password
                    </p>

                </div>

                <div class="form-group" ng-class="{ 'has-error' :
                    passwordForm.confirmation.$invalid && submitted }">

                    <label>New password confirmation</label>
                    <input type="password" name="confirmation" class="form-control"
                        ng-model="newPasswordConfirmation" ng-match="newPassword" required>

                    <p class="help-block" ng-show="passwordForm.confirmation.$invalid && submitted">
                        Please insert the confirmation of your new password
                    </p>
                    <p class="help-block"
                        ng-show="passwordForm.confirmation.$dirty &&
                          !passwordsMatch(newPassword, newPasswordConfirmation)">
                        Please make sure that the value matches your new password
                    </p>

                </div>

                <button type="submit" class="btn btn-success"
                    ng-disabled="passwordForm.confirmation.$dirty &&
                      !passwordsMatch(newPassword, newPasswordConfirmation)">
                    Change
                </button>

            </form>

      </div>

    </div>

</section>
