<section id="shop" class="light" ng-controller="ShopCtrl">

    <div class="container">

        <h1 translate="SHOP"></h1>

        <div>

            <p class="lead">Catalog of available products<br /></p>

            <p>Search: <input class="search-box" ng-model="search"></p>

            <table class="table table-bordered table-hover">

                <tr>
                    <td class="summary right" colspan="4" >
                        <a ng-click="goToCart()" title="Go to the shopping cart"
                            ng-disabled="cart.getTotalCount() < 1">
                            <i class="fa fa-shopping-cart" />
                            <b>{{cart.getTotalCount()}}</b> items,
                            <b>{{(cart.getTotalPrice() | number:2) + " €"}}</b>
                        </a>
                    </td>
                </tr>

                <tr ng-repeat="product in shop.products | orderBy:'id' | filter:search" >
                    <td class="center img-wrapper">
                      <img class="img-responsive" ng-src="{{product.image}}" alt="{{product.name}}" />
                    </td>
                    <td class="center">
                      <a ng-click="openProductDescription(product.id)"><b>{{product.name}}</b></a>
                    </td>
                    <td class="center">
                      {{(product.price | number:2) + " €"}}
                    </td>
                    <td class="center">
                      <a ng-click="cart.addItem(product.id, product.name, product.price, 1)">
                         <i class="fa fa-cart-plus" />
                         Add to the shopping cart
                      </a>
                    </td>
                </tr>

                <tr>
                    <td class="summary right" colspan="4">
                      <a ng-click="goToCart()" title="Go to the shopping cart"
                         ng-disabled="cart.getTotalCount() < 1">
                         <i class="fa fa-shopping-cart" />
                         <b>{{cart.getTotalCount()}}</b> items,
                         <b>{{(cart.getTotalPrice() | number:2) + " €"}}</b>
                      </a>
                    </td>
                </tr>

            </table>
        </div>
    </div>

</section>