<section id="sponsors" class="light" ng-controller="SponsorsCtrl">

    <div class="container">

        <h1 translate="SPONSORS"></h1>

        <div class="intro">
            <p translate="PARTNERS_HELP"></p>
        </div>  

        <div class="lead">
            <p translate="MAIN_PARTNERS"></p>
        </div>   
        
        <div class="row" ng-repeat="row in mainPartners">
            <div class="col-xs-4 col-md-4 item" ng-repeat="item in row">
                <div class="partner">
                    <a href="{{item.link}}" target="_blank">
                        <img class="img-responsive" ng-src="{{item.logo}}"> 
                    </a>
                </div>
            </div>
        </div>

        <div class="lead">
            <p translate="UNIVERSITY_PARTNERS"></p>
        </div>   
        
        <div class="row" ng-repeat="row in universityPartners">
            <div class="col-xs-6 col-md-6 item" ng-repeat="item in row">
                <div class="partner">
                    <a href="{{item.link}}" target="_blank">
                        <img class="img-responsive" ng-src="{{item.logo}}"> 
                    </a>
                </div>
            </div>
        </div>

        <div class="lead">
            <p translate="SPONSORS"></p>
        </div>   
        
        <div class="row" ng-repeat="row in sponsors">
            <div class="col-xs-3 col-md-3 item" ng-repeat="item in row">
                <div class="sponsor">
                    <a href="{{item.link}}" target="_blank">
                        <img class="img-responsive" ng-src="{{item.logo}}"> 
                    </a>
                </div>
            </div>
        </div>

        <div class="lead">
            <p translate="TRANSPORTATION_PARTNERS"></p>
        </div>   
        
        <div class="row" ng-repeat="row in transportationPartners">
            <div class="col-xs-6 col-md-6 item" ng-repeat="item in row">
                <div class="sponsor">
                    <a href="{{item.link}}" target="_blank">
                        <img class="img-responsive" ng-src="{{item.logo}}"> 
                    </a>
                </div>
            </div>
        </div>

    </div>

</section>