<section id="sponsors" class="light" ng-controller="SponsorsCtrl">

    <div class="container">

        <h1 translate="SPONSORS"></h1>

        <div class="intro">
            <p translate="PARTNERS_HELP"></p>
        </div>   
        
        <div class="row" ng-repeat="row in rows">
            <div class="col-xs-6 col-md-3 item" ng-repeat="item in row">
                <div class="sponsor">
                    <a href="{{item.link}}" target="_blank">
                        <img class="img-responsive" ng-src="{{item.logo}}"> 
                    </a>
                </div>
            </div>
        </div>

    </div>

</section>