<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Spring Agora Asturias 2015</title>
        <link rel="shortcut icon" href="public/img/favicon.ico" type="image/x-icon">
    <!-- <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="dev/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="dev/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="dev/css/layout.css">   
        <link rel="stylesheet" type="text/css" href="dev/css/wallop-slider.css">  
        <link rel="stylesheet" type="text/css" href="dev/css/font-awesome.min.css"> 
        <link rel="stylesheet" type="text/css" href="dev/css/bootstrap-social.css">  -->      
       <link rel="stylesheet" type="text/css" href="public/css/style.css">  
       <link rel="stylesheet" type="text/css" href="public/css/ng-ckeditor.css">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body ng-app="agorasturiasApp">

        <div class="navbar">
            <div class="container">

                <div class="navbar-header">

                    <div id="menu-wrapper">

                        <button type="button" class="navbar-toggle"
                            data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav pull-right">

                                <li><a ui-sref="home">{{ 'HOME' | translate }}</a></li>  
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown">
                                        {{ 'ABOUT' | translate }}<span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a class="submenu" href="#aegee-europe">
                                            {{ 'AEGEE_EUROPE' | translate }}
                                        </a></li>
                                        <li><a class="submenu" href="#aegee-oviedo">AEGEE-Oviedo</a></li>
                                        <li><a class="submenu" href="#core-team">
                                            {{ 'CORE_TEAM' | translate }}</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown">
                                        {{ 'AGORA' | translate }}<span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a class="submenu" href="#info">
                                            {{ 'GENERAL_INFORMATION' | translate }}
                                        </a></li>
                                        <li><a class="submenu" href="#agora-for-dummies">
                                            {{ 'AGORA_FOR_DUMMIES' | translate }}
                                        </a></li>
                                        <li><a class="submenu" href="#event-timetable">
                                            {{ 'EVENT_TIMETABLE' | translate }}
                                        </a></li>
                                        <li><a class="submenu" href="#pre-events">
                                            {{ 'PRE_EVENTS' | translate }}
                                        </a></li>
                                    </ul>
                                </li>

                                <li><a href="#partners">{{ 'PARTNERS' | translate }}</a></li>
                                
                                <li class="dropdown">
                                    <a ng-controller="UsersCtrl" ui-sref="login" ng-if="!authenticated">
                                        Login
                                    </a>
                                    <a class="dropdown-toggle" data-toggle="dropdown"
                                        ng-controller="UsersCtrl" ui-sref="profile" ng-if="authenticated">{{username}}
                                    </a>
                                    <ul class="dropdown-menu" role="menu" ng-if="authenticated">
                                        <li ng-if="username==='admin'"><a ng-click="newPost()">New post</a></li>
                                        <li><a href="#">Profile</a></li>
                                        <li><a href="#">Shop</a></li>
                                        <li><a href="#">Logout</a></li>
                                    </ul>
                                </li>
                                <li><a ui-sref="contact">{{ 'CONTACT' | translate }}</a></li>                                  
                            </ul>
                        </div>   

                    </div>

                    <div class="navbar-brand">
                        <a ui-sref="#">
                            <img class="logo" src="public/img/logo-large-small.png" alt="AgorAsturias">
                        </a>
                    </div>  
                </div>
            </div>
        </div>

        <button id="language-switcher" ng-click="changeLanguage();" translate="LANGUAGE"></button>

        <div id="social-buttons">
            <div> 
                <a class="btn btn-social-icon btn-facebook" target="_blank"
                    href="https://www.facebook.com/agorasturias2015">
                    <i class="fa fa-facebook"></i>
                </a>
            </div> 
            <div> 
                <a class="btn btn-social-icon btn-twitter"target="_blank"
                    href="">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>  
            <div> 
                <a class="btn btn-social-icon btn-youtube"target="_blank"
                    href="">
                    <i class="fa fa-youtube"></i>
                </a>
            </div>   
        </div>   

        <div id="main">

            <div ui-view autoscroll="false"></div>

        </div>

        <div class="to-top-button"></div>

    </body>

    <footer>
        <div id="buildings"></div>

        <div id="credits">
            <p>
                Copyright © 2015 AEGEE-Oviedo 
                <a href="http://www.aegeeoviedo.org/" target="_blank">http://www.aegeeoviedo.org/</a>
            </p>
            <p>
                Association des États Généraux des Étudiants de l’Europe (AEGEE) - European Students Forum
                <a href="http://www.aegee.org/" target="_blank">http://www.aegee.org/</a>
            </p> 
            <p>Website developed by Damián García and Alberto Cuesta</p>
        </div>  
    </footer>

    <!-- Development -->
    <script src="dev/lib/jquery.min-1.11.1.js"></script>
    <script src="dev/lib/angular.min-1.2.25.js"></script>
    <script src="dev/lib/angular-ui-router.min-0.2.8.js"></script>
    <script src="dev/lib/angular-translate.min.js"></script>
    <script src="dev/lib/angular-resource.min.js"></script>
    <script src="dev/lib/angular-sanitize.min.js"></script>
    <script src="dev/lib/bootstrap.min.js"></script>    
    <script src="dev/lib/ui-bootstrap-tpls-0.11.2.min.js"></script>
    <script src="dev/lib/wallop-slider-directive.js"></script>
    <script src='dev/lib/ckeditor/ckeditor.js'></script>
    <script src="dev/lib/ng-ckeditor.js"></script>
    <script src="dev/js/app.js"></script>
    <script src="dev/js/functions.js"></script> 

    <!-- Production
    <script src="public/js/all.js"></script>
    -->

</html>
