<section class="light">

    <div class="container">

        <h1 translate="AEGEE_EUROPE"></h1>

        <div class="article">

            <div translate="AEGEE_EUROPE_1"></div>


            <div class="img-wrapper">
                <img class="img-responsive" ng-src="public/img/aegee-europe/aegee-field.png"
                    title="AEGEE" width="1150px" height="196px"/>
            </div>

            <div translate="AEGEE_EUROPE_2"></div>

            <div class="img-wrapper">
                <img class="img-responsive" ng-src="public/img/aegee-europe/antennae-map.png"
                    title="Antennae map" width="400px" height="323px"/>
            </div>

            <div translate="AEGEE_EUROPE_3"></div>
<!--
            <div class="img-wrapper">
                <img class="img-responsive" ng-src="public/img/aegee-europe/XXX.png"
                    title=""/>
            </div>
-->
            <div translate="AEGEE_EUROPE_4"></div>

            <!-- <div class="img-wrapper">
                <img class="img-responsive" ng-src="public/img/aegee-europe/projects.png"
                    title="Projects" width="900px" height="444px" />
            </div> -->

        </div>

    </div>

</section>
