<section class="light">

    <div class="container">

        <h1>AEGEE-Oviedo</h1>

        <div class="article">

            <div translate="AEGEE_OVIEDO_1"></div>

            <div class="img-wrapper">
                <img class="img-responsive" ng-src="public/img/aegee-oviedo/board.png" 
                    title="AEGEE-Oviedo board" width="1000px" height="484px" />
                <p class="subtitle" translate="AEGEE_OVIEDO_BOARD_TITLE"></p>
            </div>

            <div translate="AEGEE_OVIEDO_2"></div>

            <div class="img-wrapper">
                <img class="img-responsive" ng-src="public/img/aegee-oviedo/anniversary.png"
                    title="AEGEE-Oviedo 25th Anniversary" width="1150px" height="465px" />
                <p class="subtitle" translate="AEGEE_OVIEDO_ANNIVERSARY_TITLE"></p>
            </div>
            
        </div>
   
    </div>

</section>