<section id="file-uploader" class="light">

    <div class="container" ng-controller="FileUploaderCtrl">

      <p class="lead">Upload images or PDFs</p>

      <div class="button-wrapper">
        
        <button ng-file-select="" ng-model="files" class="btn btn-primary ng-pristine ng-valid" 
          ng-file-change="upload(files)" ng-multiple="true" ng-accept="'image/*,application/pdf'" 
          tabindex="0" accept="image/*,application/pdf" style="overflow: hidden;">
          
          Choose...
          
          <input type="file" multiple="multiple" accept="image/*,application/pdf" tabindex="-1" 
            ng-file-generated-elem="true" style="width: 1px; height: 1px; opacity: 0; position: absolute; padding: 0px; margin: 0px; overflow: hidden;">
        </button>

      </div>
      
      <div ng-file-drop="" ng-file-select="" ng-model="files" class="drop-box ng-pristine ng-valid" 
        drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" ng-multiple="true" 
        allow-dir="true" accept="image/*,*pdf" multiple="multiple" style="overflow: hidden;">
          
          <span>Drop files here</span>
      
        <input type="file" multiple="multiple" accept="image/*,*pdf" tabindex="-1" ng-file-generated-elem="true" 
          style="width: 1px; height: 1px; opacity: 0; position: absolute; padding: 0px; margin: 0px; overflow: hidden;">
      </div>
      
      <div ng-no-file-drop="" class="drop-box" style="display: none;">
        <span>File drag &amp; drop is not supported on your browser</span>
      </div>
    
    </div>
</section>