<div id="homepage" ng-controller="PostsCtrl">

  <section class="slider" ng-show="currentPage == 1">
    <div class="carousel container">
      <div ng-controller="CarouselCtrl">
        <carousel interval="interval">
          <slide ng-repeat="slide in slides" active="slide.active">
            
            <div class="teaser"
              ng-style="{'background-image': 'url(public/img/{{ slide.image }})'}"></div>
            
            <div class="carousel-caption">
              <p class="title">{{slide.title}}</p>
              <p class="text" translate="{{slide.text}}"></p>
            </div>
          </slide>
        </carousel>
      </div>
    </div>
  </section>

  <section ng-repeat="post in pagedPosts" ng-class-even="'light'" ng-class-odd="'dark'">
    
    <div class="post container">
      
        <p class="lead" ng-click="openPost(post)" translate={{post.title}}></p>

        <a ng-if="authenticated" ng-click="editPost(post)">Edit</a>

        <div class="post-body">
          
          <img class="img-responsive" 
            ng-class-even="'text-wrap-left'" ng-class-odd="'text-wrap-right'"
            ng-src="{{post.image}}" border="0" width="200"></img>

          <p ng-bind-html="post.text | translate | limitTo: 1000 | htmlSafe"></p>

          <button class="btn btn-success btn-sm" ng-class-even="'right'"
            ng-click="openPost(post)" translate="SHOW_MORE"></button>

        </div>
    
    </div>

  </section>

  <div class="text-center">
    <pagination total-items="totalItems" items-per-page="itemsPerPage"
      ng-model="currentPage" ng-change="pageChanged(); gotoTop();">
    </pagination>
  </div>

</div>
