<section class="light">

    <div class="container">

        <h1 translate="HOW_TO_GET_THERE"></h1>

        <div class="article">

            <div translate="HOW_TO_GET_THERE_1"></div>
			
			<a href="https://www.facebook.com/events/402152766618121/">https://www.facebook.com/events/402152766618121/</a>
			
			<div translate="HOW_TO_GET_THERE_2"></div>

            <div class="img-wrapper">
                <img class="img-responsive" ng-src="public/img/how-to-get-there/airports.png" 
                    title="Airport connections"/>
            </div>

            <div translate="HOW_TO_GET_THERE_3"></div>

            <a href="https://bus.gijon.es/multimedia_objects/download?object_id=147579&object_type=document">https://bus.gijon.es/multimedia_objects/download?object_id=147579&object_type=document</a>
			
			<div translate="HOW_TO_GET_THERE_4"></div>
			
			<div class="img-wrapper col-md-6 col-xs-12">
                <img class="img-responsive" ng-src="public/img/how-to-get-there/gym-location.png" 
                    title="Gym location"/>
            </div>
			
			<div class="img-wrapper col-md-6 col-xs-12">
                <img class="img-responsive" ng-src="public/img/how-to-get-there/gym.png" 
                    title="Gym"/>
            </div>
			
			<div translate="HOW_TO_GET_THERE_5"></div>
			
			<a href="http://www.alsa.es/en/">http://www.alsa.es/en</a>
			
			<div translate="HOW_TO_GET_THERE_6"></div>
			
			<a href="http://www.alsa.es/en/">http://www.alsa.es/en</a>

        </div>
   
    </div>

</section>