<section id="partners" class="light" ng-controller="PartnersCtrl">

    <div class="container">

        <h1>Partners</h1>

        <div class="intro">
            <p>This Agora could not have taken place without the help of our partners:</p>
        </div>   
        
        <div class="row" ng-repeat="row in rows">
            <div class="col-xs-6 col-md-3 item" ng-repeat="item in row">
                <div class="partner">
                    <a href="{{item.link}}" target="_blank">
                        <img class="img-responsive" ng-src="{{item.logo}}"> 
                    </a>
                </div>
            </div>
        </div>

    </div>

</section>