<section ng-controller="PostViewerCtrl" class="light">
  <div class="social-buttons">
    <ul ng-social-buttons data-url="currentUrl" data-title="currentPost.title" data-description="FILL"
       data-image="'http://IMAGE-TEST.jpg'">
      <li class="ng-social-facebook">Facebook</li>
      <li class="ng-social-twitter">Twitter</li>
    </ul>
  </div>
  <div class="post container">
    <div class="col-xs-7 col-md-9" ng-class-even="'pull-right'" ng-class-odd="'pull-left'">
      <p class="lead" translate="{{currentPost.title}}"></p>

      <div ng-bind-html="currentPost.text | translate | htmlSafe"></div>
    </div>
    <div class="col-xs-5 col-md-3" ng-class-even="'pull-right'" ng-class-odd="'pull-left'">
      <img class="img-responsive" ng-src="{{currentPost.image}}" border="0" width="200" height="284"
        style="border: 2px solid black;"></img>
    </div>
  </div>
</section>
