<section ng-controller="PostsCtrl" class="light">
  <div class="post container">
    <div class="col-xs-7 col-md-9" ng-class-even="'pull-right'" ng-class-odd="'pull-left'">
      <p class="lead">{{currentPost.engTitle}}</p>

      <div ng-bind-html="currentPost.engText | htmlSafe"></div>
    </div>
    <div class="col-xs-5 col-md-3" ng-class-even="'pull-right'" ng-class-odd="'pull-left'">
      <img class="img-responsive" ng-src="{{currentPost.image}}" border="0" width="200" height="284"
        style="border: 2px solid black;"></img>
    </div>
  </div>
</section>