<section id="shop" class="light" ng-controller="ShopCtrl">

    <div class="container">

        <h1 translate="SHOP"></h1>

        <div>

            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="col-xs-4 col-md-8">

                        <table class="table table-bordered">

                            <tr>
                                <td class="right" colspan="3">
                                    <a ng-click="goToBasket()" title="Go to basket" 
                                        ng-disabled="cart.getTotalCount() < 1">
                                        <i class="fa fa-shopping-cart" />
                                        <b>{{basket.getTotalCount()}}</b> items, 
                                        <b>{{basket.getTotalPrice() | currency}}</b>
                                        <span ng-show="basket.getTotalCount(product.id) > 0"><br />
                                            This item is in the basket
                                        </span>
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td class="center">
                                  <b>{{product.name}}</b>
                                </td>
                            </tr>
                            <tr>
                                <td class="center">
                                  <img ng-src="{{product.image}}" alt="{{product.name}}" />
                                </td>
                            </tr>
                            
                            <tr>
                                <td>
                                    {{product.description}}
                                </td>
                            </tr>
                            <tr>
                                <td class="right">
                                  {{product.price | currency}}
                                </td>
                            </tr>

                        </table>
                    </div>

                    <div <div class="col-xs-2 col-md-4">
                        <button class="btn btn-block btn-success" 
                            ng-click="basket.addItem(product.id, product.name, product.price, 1)">
                            <i class="icon-shopping-cart icon-white" /> Add to basket
                        </button>
                        <button class="btn btn-block btn-danger" 
                            ng-click="basket.addItem(product.id, product.name, product.price, -10000)"
                            ng-disabled="basket.getTotalCount(product.id) < 1">
                            <i class="icon-trash icon-white" /> Remove from basket
                        </button>
                        <button class="btn btn-block" ng-click="goToShop()">
                            <i class="icon-chevron-left" /> Back to shop
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>