body { font-family: Open Sans,Droid Serif,Arial,Georgia,sans-serif; text-align: justify; }

h1 { text-align:center; margin-bottom:40px; color:white; }
h2, h3 { text-align:center; margin-bottom:20px; color: white; }

a { cursor:pointer; }

.container { padding:10px; }

.nav, .pagination { cursor: pointer; }

.navbar { 
   
    margin-bottom:0; padding-bottom:10px; padding-right:20px;

    @media (max-width: 1075px) { padding-right:0; }

    .container { min-height:100px; padding:0; width:100%; }

    .navbar-toggle { 
        
        border: 1px solid #3d6497; margin-right: 40px; transition: opacity 250ms; 

        @media (max-width: 767px) { float:left; }

        .icon-bar { background-color: #3d6497; }
    }

    .navbar-header { width:100%; min-height:90px; }

    .navbar-brand { 

        float:left; margin-left:0; padding:15px; min-height:110px; 

        @media (max-width: 370px) { padding:0; }

        .logo {

            @media (max-width: 340px) { width:90%; margin-top:-48px; }
        }
    }

    .navbar-collapse { 

        float:left; padding-top:35px; padding-right:30px;

        @media (max-width: 1075px) { width:100%; padding:0; }

        @media (max-width: 767px) { 

            position: absolute; background-color: white; z-index: 100; right: 55px; top: 40px;
            padding: 0 20px; border: 1px solid #3d6497; width: auto;
        }

        @media (max-width: 500px) { margin-right:0; padding-top: 0px; }
    }
}

#menu-wrapper { 

    float:right; 

    @media (max-width: 1075px) { float: left; width: 100%; }

    @media (max-width: 767px) { float: right; width: auto; }

    .navbar-nav {

        @media (max-width: 1075px) { width: 100%; background-color: #428bca; color: white; }

        @media (max-width: 767px) { width: auto; margin: 0; background-color: white; }

        li {

            font-size: 20px; text-align: center; 

            @media (max-width: 1075px) { width: 14.2%; font-size: 18px; }

            @media (max-width: 767px) { width: auto; text-align: left; }

            &.short {

                @media (max-width: 920px) and (min-width: 767px) { width:11%; }
            }

            &.long {

                @media (max-width: 920px) and (min-width: 767px) { width:17%; }
            }

            a {

                @media (max-width: 1075px) and (min-width: 767px) { 

                    color: white; padding: 8px; 
                }

                &:hover, &:focus {

                    background-color: #428bca; color: white;

                    @media (max-width: 1075px) and (min-width: 767px) { 

                        color: #428bca; background-color: white; 
                    }
                }
            }

            .submenu { text-align: left; color: black;}
        }
    }
}

#social-buttons { 

    position: absolute; top: 15px; right: 15px;

    @media (max-width: 1075px) { top: 76px; right: 55px; }

    @media (max-width: 767px) { top: 60px; right: 30px; }

    @media (max-width: 340px) { display:none; }

    div { 

        width: 25px; cursor: pointer; text-align: center;

        @media (max-width: 1075px) { float: left; padding-left: 25px; width: auto; }

        @media (max-width: 767px) { padding-left: 20px; }
    }

    .btn { font-size:20px; padding:0; }

    .btn-facebook { color: #3B5998; }

    .btn-twitter { color: #55ACEE; }

    .btn-youtube { color: #DD4B39; }
}

#language-switcher { 

    position:absolute; top:10px; right:100px; 

    @media (max-width: 1075px) { top: 134px; right: 60px; }

    @media (max-width: 767px) { top: 95px; right: 30px; }

    @media (max-width: 340px) { top: 74px; }
}

.post { 

    padding: 15px 10px; 

    .lead { font-weight: bold; cursor: pointer; }
}

.dropdown { 

    cursor: pointer; 

    &:hover .dropdown-menu { 

        /* Make navigation toggle only on desktop */
        @media only screen and (min-width : 792px) { display: block; }
    }

    .dropdown-menu {

        li a {

            &:focus, &:hover {

                background-color: #428bca; color: white; background-image: none;
            }
        }
    }

    .login-menu { 
        
        padding: 10px; 

        input { margin-bottom: 10px; }
    }
}

section {

    &.light { color: white; background-color: #1468b3; }    

    &.dark { 
        background: #204379; color: #5983ab; 

        p { color: white; }
    }

    &.white { background-color: #fff; color: #6c7781; }

    &.slider {
        background-image: -webkit-linear-gradient(top,#3d6497 0,#60aadc 100%);
        background-image: -o-linear-gradient(top,#3d6497 0,#60aadc 100%);
        background-image: -webkit-gradient(linear,left top,left bottom,from(#3d6497),to(#60aadc));
        background-image: linear-gradient(to bottom,#3d6497 0,#60aadc 100%); 
    }
}

.right { float:right; }
.left { float:left; }

#homepage {

    .carousel { 
        
        padding:0; width:100%; height:400px; max-width:100%; margin:0 auto; cursor: pointer;

        .item { text-align: center; height: 400px !important; }

        .title { font-size: 32px; }

        .text { font-size: 20px; }

        .carousel-control.left, .carousel-control.right { 

            background-image:inherit; 

            @media (max-width: 767px) { display: none; }
        }
    }

    .teaser { height:400px; margin:auto; -webkit-background-size: cover; -moz-background-size: cover;
                -o-background-size: cover; background-size: cover; background-position: center center; }

     .post {

        a { color:yellow; }

        .lead {

            font-size:26px;

            @media only screen and (max-width:550px) { text-align:center; }
        } 

        .post-body {

            float:left;

            .text-wrap-right { 

                float:right; margin: 10px 10px 20px 40px; 

                @media only screen and (max-width:670px) { margin-left:20px; }

                @media only screen and (max-width:550px) { float:none; margin:10px auto; }
            }

            .text-wrap-left { 

                float:left; margin: 10px 40px 20px 10px;

                @media only screen and (max-width:670px) { margin-right:20px; }

                @media only screen and (max-width:550px) { float:none; margin:10px auto; }
            }

            button { 

                font-size: 14px; margin: 15px 0;

                @media only screen and (max-width:550px) { 

                    float:none; position: relative; left: 50%; margin-left: -46px; 
                }

                &.right { 

                    float:right; 

                    @media only screen and (max-width:550px) { float:none; }
                }

                
            }
        }    
    }
}

.wallop-slider__list { padding-left: 0; }
.wallop-slider__btn--previous { float:left; }
.wallop-slider__btn--next { float:right; }

.link-wrap { 

    text-align: center;

    a { color: yellow; }
}

.thumbnail {

    border: none; box-shadow: none; background-color: #1468b3;

    img { 

        width:170px; height:170px; 

        @media only screen and (max-width:500px) { width:150px; height:150px;  }
    }

    p { text-align: center; }

    .name { font-size: 24px; }

    .caption { color: white; }
}

#sponsors {

    .row { margin-bottom:30px; }

    .sponsor { 

        width:200px; margin-bottom:25px; 

        @media only screen and (max-width:500px) { width:150px; }
    }

    .item { height:130px; }

    img { 

        width:200px; border:0; 

        @media only screen and (max-width:500px) { width:150px; }
    }
}

.intro { margin-bottom: 25px; }

#post-viewer {

    .social-share-buttons { 

        float: right; margin-right:175px; margin-bottom:20px; font-size:40px; 

        a, a:hover { text-decoration:none; }

        .fa-facebook-square { color:inherit; }

        .fa-twitter-square { color:inherit; }

        .fa-google-plus-square { color:inherit; }

        @media only screen and (max-width:550px) { float:none; margin:0 auto; text-align:center; }
    }

     .post {

        a { color:yellow; }

        .lead {

            font-size:26px;

            @media only screen and (max-width:550px) { text-align:center; }
        }

        .post-body {

            float:left;

            .text-wrap { 

                float:right; margin: 10px 70px 30px 40px; 

                @media only screen and (max-width:670px) { margin: 10px 20px 20px 30px; }

                @media only screen and (max-width:550px) { float:none; margin:20px auto; }
            }
        }        
    }
}

#agora { 

    padding-bottom:50px; 

    .left-part { padding:0; }

    .right-part img { margin:0 auto; }
}

.article { 

    padding-bottom:50px; font-size:16px;

    #agora & { padding-bottom:0; }

    p { 

        margin:25px 0; 

        span { font-size:20px; font-weight:bold; }

        .language { font-size:16px; font-weight:normal; }
    }

    .img-wrapper { 

        margin:25px 0;

        img { margin:0 auto; }

        .subtitle { margin:10px 0; font-size:14px; text-align:center; }
    }    

    ul { padding-left:25px; }

    a { color:yellow; }

    #pre-events & { 

        padding-bottom:30px; 

        &.extra { padding-top:30px; }
    }
}

#contact { 

    padding-bottom:50px; 

    a { color: yellow; }

    textarea { min-height: 120px; }

    .help-block { color: yellow; }
}

#buildings { height:325px; width:100%; background: url('../img/footer.png') no-repeat center bottom; }

#credits { 

    height:150px; width:100%; background-color: #1468c5; color:white; padding-top:20px;
    padding-right:10%; padding-left:10%; text-align: center; font-weight: bold; 

    @media only screen and (max-width:1024px) { height:150px; }

    @media only screen and (max-width:500px) { height:220px; }

    a, a:hover { color: #e1da29; }

    .disclaimer { margin-top: 20px; font-size: 10px; } 
}

.to-top-button {
    
    display: inline-block; height: 40px; width: 40px; position: fixed; bottom: 40px; right: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); overflow: hidden; cursor: pointer;
    white-space: nowrap; background: #c94137 url(../img/to-top-arrow.svg) no-repeat center 50%;
    visibility: hidden; opacity: 0; -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s; transition: opacity .3s 0s, visibility 0s .3s;
    border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; 

    &.visible { 

        visibility: visible; opacity: 1; 
        -webkit-transition: opacity .3s 0s, visibility 0s 0s;
        -moz-transition: opacity .3s 0s, visibility 0s 0s;
        transition: opacity .3s 0s, visibility 0s 0s;
    }

    @media only screen and (min-width: 792px) { right: 20px; bottom: 20px; }

    @media only screen and (min-width: 1024px) { height: 60px; width: 60px; right: 30px; bottom: 30px; }
}
