@charset "UTF-8";
body {
  font-family: Open Sans,Droid Serif,Arial,Georgia,sans-serif; }

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: white; }

h2 {
  margin: 0;
  color: white;
  padding-top: 90px;
  font-size: 52px; }

.container {
  padding: 10px; }

.nav, .pagination, .panel-title a {
  cursor: pointer; }

.navbar {
  margin-bottom: 0;
  padding-bottom: 10px;
  padding-right: 20px; }
  @media (max-width: 960px) {
    .navbar {
      padding-right: 0; } }
  .navbar .container {
    min-height: 100px;
    padding: 0;
    width: 100%; }
  .navbar .navbar-toggle {
    border: 1px solid #3d6497;
    margin-right: 40px;
    transition: opacity 250ms; }
    @media (max-width: 767px) {
      .navbar .navbar-toggle {
        float: left; } }
    .navbar .navbar-toggle .icon-bar {
      background-color: #3d6497; }
  .navbar .navbar-header {
    width: 100%;
    min-height: 90px; }
  .navbar .navbar-brand {
    float: left;
    margin-left: 0;
    padding: 15px;
    min-height: 110px; }
  .navbar .navbar-collapse {
    float: left;
    padding-top: 35px;
    padding-right: 30px; }
    @media (max-width: 960px) {
      .navbar .navbar-collapse {
        width: 100%;
        padding: 0; } }
    @media (max-width: 767px) {
      .navbar .navbar-collapse {
        position: absolute;
        background-color: white;
        z-index: 100;
        right: 55px;
        top: 40px;
        padding: 0 20px;
        border: 1px solid #3d6497;
        width: auto; } }
    @media (max-width: 500px) {
      .navbar .navbar-collapse {
        margin-right: 0;
        padding-top: 0px; } }

#menu-wrapper {
  float: right; }
  @media (max-width: 960px) {
    #menu-wrapper {
      float: left;
      width: 100%; } }
  @media (max-width: 767px) {
    #menu-wrapper {
      float: right;
      width: auto; } }
  @media (max-width: 960px) {
    #menu-wrapper .navbar-nav {
      width: 100%;
      background-color: #428bca;
      color: white; } }
  @media (max-width: 767px) {
    #menu-wrapper .navbar-nav {
      width: auto;
      margin: 0;
      background-color: white; } }
  #menu-wrapper .navbar-nav li {
    font-size: 20px;
    text-align: center; }
    @media (max-width: 960px) {
      #menu-wrapper .navbar-nav li {
        width: 16%;
        font-size: 18px; } }
    @media (max-width: 767px) {
      #menu-wrapper .navbar-nav li {
        width: auto;
        text-align: left; } }
    @media (max-width: 960px) {
      #menu-wrapper .navbar-nav li a {
        color: white;
        padding: 8px; } }
    @media (max-width: 767px) {
      #menu-wrapper .navbar-nav li a {
        color: #428bca; } }
    #menu-wrapper .navbar-nav li .submenu {
      text-align: left;
      color: black; }

#social-buttons {
  position: absolute;
  top: 15px;
  right: 15px; }
  @media (max-width: 960px) {
    #social-buttons {
      top: 76px;
      right: 55px; } }
  @media (max-width: 767px) {
    #social-buttons {
      top: 60px;
      right: 30px; } }
  #social-buttons div {
    width: 25px;
    cursor: pointer;
    text-align: center; }
    @media (max-width: 960px) {
      #social-buttons div {
        float: left;
        padding-left: 25px;
        width: auto; } }
    @media (max-width: 767px) {
      #social-buttons div {
        padding-left: 20px; } }
  #social-buttons .btn {
    font-size: 20px;
    padding: 0; }
  #social-buttons .btn-facebook {
    color: #3B5998; }
  #social-buttons .btn-twitter {
     color: #55ACEE; }
  #social-buttons .btn-youtube {
    color: #DD4B39; }

#language-switcher {
  position: absolute;
  top: 0;
  right: 75px; }
  @media (max-width: 960px) {
    #language-switcher {
      top: 134px;
      right: 30px; } }
  @media (max-width: 767px) {
    #language-switcher {
      top: 98px;
      right: 10px; } }

.post {
  padding: 15px 10px; }
  .post .lead {
    font-weight: bold; }

.dropdown {
  cursor: pointer; }
  .dropdown:hover .dropdown-menu {
    /* Make navigation toggle only on desktop */ }
    @media only screen and (min-width: 768px) {
      .dropdown:hover .dropdown-menu {
        display: block; } }
  .dropdown .login-menu {
    padding: 10px; }
    .dropdown .login-menu input {
      margin-bottom: 10px; }

section.light {
  color: white;
  background-color: #1468b3; }
section.dark {
  background: #204379;
  color: #5983ab; }
  section.dark p {
    color: white; }
section.white {
  background-color: #fff;
  color: #6c7781; }
section.slider {
  background-image: -webkit-linear-gradient(top, #3d6497 0, #60aadc 100%);
  background-image: -o-linear-gradient(top, #3d6497 0, #60aadc 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3d6497), to(#60aadc));
  background-image: linear-gradient(to bottom, #3d6497 0, #60aadc 100%); }

.right {
  float: right; }

.left {
  float: left; }

.carousel {
  padding: 0;
  width: 100%;
  height: 400px;
  max-width: 100%;
  margin: 0 auto;
  cursor: pointer; }
  .carousel .item {
    text-align: center;
    height: 400px !important; }
  .carousel .title {
    font-size: 32px; }
  .carousel .text {
    font-size: 20px; }
  .carousel .carousel-control.left, .carousel .carousel-control.right {
    background-image: inherit; }
    @media (max-width: 767px) {
      .carousel .carousel-control.left, .carousel .carousel-control.right {
        display: none; } }

.teaser {
  height: 400px;
  margin: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center; }

.wallop-slider__list {
  padding-left: 0; }

.wallop-slider__btn--previous {
  float: left; }

.wallop-slider__btn--next {
  float: right; }

.link-wrap {
  text-align: center; }
  .link-wrap a {
    cursor: pointer;
    color: yellow; }

.thumbnail {
  border: none;
  box-shadow: none; }
  .thumbnail img {
    width: 170px;
    height: 170px; }
  .thumbnail p {
    text-align: center; }
  .thumbnail .name {
    font-size: 24px; }

#buildings {
  height: 225px;
  width: 100%;
  background: url("../img/footer.jpg") no-repeat center bottom; }

#credits {
  height: 120px;
  width: 100%;
  background-color: #ecedf2;
  color: black;
  padding-right: 10%;
  padding-left: 10%;
  text-align: center;
  font-weight: bold; }

.to-top-button {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  background: #c94137 url(../img/to-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%; }
  .to-top-button.visible {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s; }
  @media only screen and (min-width: 768px) {
    .to-top-button {
      right: 20px;
      bottom: 20px; } }
  @media only screen and (min-width: 1024px) {
    .to-top-button {
      height: 60px;
      width: 60px;
      right: 30px;
      bottom: 30px; } }
