@charset "UTF-8";
body {
  font-family: Open Sans,Droid Serif,Arial,Georgia,sans-serif;
  text-align: justify; }

h1 {
  text-align: center;
  margin-bottom: 40px;
  color: white; }

h2, h3 {
  text-align: center;
  margin-bottom: 20px;
  color: white; }

.container {
  padding: 10px; }

.nav, .pagination, .panel-title a {
  cursor: pointer; }

.navbar {
  margin-bottom: 0;
  padding-bottom: 10px;
  padding-right: 20px; }
  @media (max-width: 1075px) {
    .navbar {
      padding-right: 0; } }
  .navbar .container {
    min-height: 100px;
    padding: 0;
    width: 100%; }
  .navbar .navbar-toggle {
    border: 1px solid #3d6497;
    margin-right: 40px;
    transition: opacity 250ms; }
    @media (max-width: 767px) {
      .navbar .navbar-toggle {
        float: left; } }
    .navbar .navbar-toggle .icon-bar {
      background-color: #3d6497; }
  .navbar .navbar-header {
    width: 100%;
    min-height: 90px; }
  .navbar .navbar-brand {
    float: left;
    margin-left: 0;
    padding: 15px;
    min-height: 110px; }
    @media (max-width: 370px) {
      .navbar .navbar-brand {
        padding: 0; } }
    @media (max-width: 340px) {
      .navbar .navbar-brand .logo {
        width: 90%;
        margin-top: -48px; } }
  .navbar .navbar-collapse {
    float: left;
    padding-top: 35px;
    padding-right: 30px;
     /*  @media (max-width: 767px) { 

            position: absolute; background-color: white; z-index: 100; right: 55px; top: 40px;
            padding: 0 20px; border: 1px solid #3d6497; width: auto;
        }*/ }
    @media (max-width: 1075px) {
      .navbar .navbar-collapse {
        width: 100%;
        padding: 0; } }
    @media (max-width: 500px) {
      .navbar .navbar-collapse {
        margin-right: 0;
        padding-top: 0px; } }

#menu-wrapper {
  float: right; }
  @media (max-width: 1075px) {
    #menu-wrapper {
      float: left;
      width: 100%; } }
  @media (max-width: 767px) {
    #menu-wrapper {
      float: right;
      width: auto; } }
  @media (max-width: 1075px) {
    #menu-wrapper .navbar-nav {
      width: 100%;
      background-color: #428bca;
      color: white; } }
  @media (max-width: 767px) {
    #menu-wrapper .navbar-nav {
      width: auto;
      margin: 0;
      background-color: white; } }
  #menu-wrapper .navbar-nav li {
    font-size: 20px;
    text-align: center; }
    @media (max-width: 1075px) {
      #menu-wrapper .navbar-nav li {
        width: 14.2%;
        font-size: 18px; } }
    @media (max-width: 767px) {
      #menu-wrapper .navbar-nav li {
        width: auto;
        text-align: left; } }
    @media (max-width: 920px) {
      #menu-wrapper .navbar-nav li.short {
        width: 11%; } }
    @media (max-width: 920px) {
      #menu-wrapper .navbar-nav li.long {
        width: 17%; } }
    @media (max-width: 1075px) {
      #menu-wrapper .navbar-nav li a {
        color: white;
        padding: 8px; } }
    @media (max-width: 767px) {
      #menu-wrapper .navbar-nav li a {
        color: #428bca; } }
    #menu-wrapper .navbar-nav li .submenu {
      text-align: left;
      color: black; }

#social-buttons {
  position: absolute;
  top: 15px;
  right: 15px; }
  @media (max-width: 1075px) {
    #social-buttons {
      top: 76px;
      right: 55px; } }
  @media (max-width: 767px) {
    #social-buttons {
      top: 60px;
      right: 30px; } }
  @media (max-width: 340px) {
    #social-buttons {
      display: none; } }
  #social-buttons div {
    width: 25px;
    cursor: pointer;
    text-align: center; }
    @media (max-width: 1075px) {
      #social-buttons div {
        float: left;
        padding-left: 25px;
        width: auto; } }
    @media (max-width: 767px) {
      #social-buttons div {
        padding-left: 20px; } }
  #social-buttons .btn {
    font-size: 20px;
    padding: 0; }
  #social-buttons .btn-facebook {
    color: #3B5998; }
  #social-buttons .btn-twitter {
     color: #55ACEE; }
  #social-buttons .btn-youtube {
    color: #DD4B39; }

#language-switcher {
  position: absolute;
  top: 10px;
  right: 100px; }
  @media (max-width: 1075px) {
    #language-switcher {
      top: 134px;
      right: 60px; } }
  @media (max-width: 767px) {
    #language-switcher {
      top: 95px;
      right: 30px; } }
  @media (max-width: 340px) {
    #language-switcher {
      top: 74px; } }

.post {
  padding: 15px 10px; }
  .post .lead {
    font-weight: bold;
    cursor: pointer; }

.dropdown {
  cursor: pointer; }
  .dropdown:hover .dropdown-menu {
    /* Make navigation toggle only on desktop */ }
    @media only screen and (min-width: 792px) {
      .dropdown:hover .dropdown-menu {
        display: block; } }
  .dropdown .login-menu {
    padding: 10px; }
    .dropdown .login-menu input {
      margin-bottom: 10px; }

section.light {
  color: white;
  background-color: #1468b3; }
section.dark {
  background: #204379;
  color: #5983ab; }
  section.dark p {
    color: white; }
section.white {
  background-color: #fff;
  color: #6c7781; }
section.slider {
  background-image: -webkit-linear-gradient(top, #3d6497 0, #60aadc 100%);
  background-image: -o-linear-gradient(top, #3d6497 0, #60aadc 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3d6497), to(#60aadc));
  background-image: linear-gradient(to bottom, #3d6497 0, #60aadc 100%); }

.right {
  float: right; }

.left {
  float: left; }

#homepage .carousel {
  padding: 0;
  width: 100%;
  height: 400px;
  max-width: 100%;
  margin: 0 auto;
  cursor: pointer; }
  #homepage .carousel .item {
    text-align: center;
    height: 400px !important; }
  #homepage .carousel .title {
    font-size: 32px; }
  #homepage .carousel .text {
    font-size: 20px; }
  #homepage .carousel .carousel-control.left, #homepage .carousel .carousel-control.right {
    background-image: inherit; }
    @media (max-width: 767px) {
      #homepage .carousel .carousel-control.left, #homepage .carousel .carousel-control.right {
        display: none; } }
#homepage .teaser {
  height: 400px;
  margin: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center; }
#homepage .post a {
  color: yellow; }
#homepage .post img-wrapper {
  margin-top: 50px; }

.wallop-slider__list {
  padding-left: 0; }

.wallop-slider__btn--previous {
  float: left; }

.wallop-slider__btn--next {
  float: right; }

.link-wrap {
  text-align: center; }
  .link-wrap a {
    cursor: pointer;
    color: yellow; }

.thumbnail {
  border: none;
  box-shadow: none;
  background-color: #1468b3; }
  .thumbnail img {
    width: 170px;
    height: 170px; }
    @media only screen and (max-width: 500px) {
      .thumbnail img {
        width: 150px;
        height: 150px; } }
  .thumbnail p {
    text-align: center; }
  .thumbnail .name {
    font-size: 24px; }
  .thumbnail .caption {
    color: white; }

#partners .row {
  margin-bottom: 30px; }
#partners .partner {
  width: 200px;
  margin-bottom: 25px; }
#partners .item {
  height: 130px; }
#partners img {
  width: 200px;
  border: 0; }
  @media only screen and (max-width: 500px) {
    #partners img {
      width: 150px; } }

.intro {
  margin-bottom: 25px; }

#post-viewer .social-share-buttons {
  float: right;
  margin-right: 175px;
  margin-bottom: 20px;
  font-size: 40px; }
  #post-viewer .social-share-buttons a, #post-viewer .social-share-buttons a:hover {
    text-decoration: none; }
  #post-viewer .social-share-buttons .fa-facebook-square {
    color: inherit; }
  #post-viewer .social-share-buttons .fa-twitter-square {
    color: inherit; }
  #post-viewer .social-share-buttons .fa-google-plus-square {
    color: inherit; }
  @media only screen and (max-width: 550px) {
    #post-viewer .social-share-buttons {
      float: none;
      margin: 0 auto;
      text-align: center; } }
#post-viewer .post a {
  color: yellow; }
@media only screen and (max-width: 550px) {
  #post-viewer .post .lead {
    text-align: center; } }
#post-viewer .post .post-body {
  float: left; }
  #post-viewer .post .post-body .text-wrap {
    float: right;
    margin: 10px 70px 30px 40px; }
    @media only screen and (max-width: 670px) {
      #post-viewer .post .post-body .text-wrap {
        margin: 10px 20px 20px 30px; } }
    @media only screen and (max-width: 550px) {
      #post-viewer .post .post-body .text-wrap {
        float: none;
        margin: 20px auto; } }

#agora {
  padding-bottom: 50px; }
  #agora .left-part {
    padding: 0; }
  #agora .right-part img {
    margin: 0 auto; }

.article {
  padding-bottom: 50px;
  font-size: 16px; }
  #agora .article {
    padding-bottom: 0; }
  .article p {
    margin: 25px 0; }
    .article p span {
      font-size: 20px;
      font-weight: bold; }
  .article .img-wrapper {
    margin: 25px 0; }
    .article .img-wrapper img {
      margin: 0 auto; }
    .article .img-wrapper .subtitle {
      margin: 10px 0;
      font-size: 14px;
      text-align: center; }
  .article ul {
    padding-left: 25px; }
  .article a {
    color: yellow; }
  #pre-events .article {
    padding-bottom: 30px; }
    #pre-events .article.extra {
       padding-top: 30px; }

#contact {
  padding-bottom: 50px; }
  #contact a {
    cursor: pointer;
    color: yellow; }
  #contact textarea {
    min-height: 120px; }
  #contact .help-block {
    color: yellow; }

#buildings {
  height: 325px;
  width: 100%;
  background: url("../img/footer.png") no-repeat center bottom; }

#credits {
  height: 150px;
  width: 100%;
  background-color: #1468c5;
  color: white;
  padding-top: 20px;
  padding-right: 10%;
  padding-left: 10%;
  text-align: center;
  font-weight: bold; }
  @media only screen and (max-width: 1024px) {
    #credits {
      height: 150px; } }
  @media only screen and (max-width: 500px) {
    #credits {
      height: 220px; } }
  #credits a, #credits a:hover {
    color: #e1da29; }
  #credits .disclaimer {
    margin-top: 20px;
    font-size: 10px; }

.to-top-button {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  background: #c94137 url(../img/to-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%; }
  .to-top-button.visible {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s; }
  @media only screen and (min-width: 792px) {
    .to-top-button {
      right: 20px;
      bottom: 20px; } }
  @media only screen and (min-width: 1024px) {
    .to-top-button {
      height: 60px;
      width: 60px;
      right: 30px;
      bottom: 30px; } }
