<section class="light">
    <div class="container">

        <h1>Contact us</h1>

        <p>Feel free to send us an email with your doubts to 
            <a href="mailto:damian.garciagarcia@gmail.com">aegee.oviedo@gmail.com</a>
        </p>

        <p>You can also do it through the next form</p>

    </div>
</section>

<section class="dark">
    <div class="container">

        <div class="col-sm-8 col-sm-offset-2" ng-controller="FormCtrl">
           
            <form name="contactForm" ng-submit="submitForm(contactForm.$valid)" novalidate> 

                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="name" class="form-control" ng-model="name" required>
                    <p ng-show="contactForm.name.$invalid && !contactForm.name.$pristine" class="help-block">
                        Please tell us your name
                    </p>
                </div>            
                
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" ng-model="email" required>
                    <p ng-show="contactForm.email.$invalid && !contactForm.email.$pristine" class="help-block">
                        Please introduce a valid email so we can reply to you
                    </p>
                </div>

                <div class="form-group">
                    <label>Message</label>
                    <input type="text" name="message" class="form-control" ng-model="message" required>
                    <p ng-show="contactForm.message.$invalid && !contactForm.message.$pristine" class="help-block">
                        Please tell us how we can help you
                    </p>
                </div>
                
                <button type="submit" class="btn btn-primary" ng-disabled="contactForm.$invalid">Submit</button>
                
            </form>

        </div>
    </div>
</section>