<div ng-controller="PostsCtrl">

    <section class="light" ng-show="currentPage == 1">
        <div class="carousel container">
            <div ng-controller="CarouselCtrl">
                <carousel interval="interval">
                    <slide ng-repeat="slide in slides" active="slide.active">
                        <div class="teaser" 
                            ng-style="{'background-image': 'url(img/{{ slide.image }})'}"></div>
                        <div class="carousel-caption">
                            <h2>{{slide.title}}</h2>
                            <p>{{slide.text}}</p>
                        </div>
                    </slide>
                </carousel>
            </div> 
        </div> 
    </section>

    <section ng-repeat="post in pagedPosts" ng-class-even="'light'" ng-class-odd="'dark'">
        <div class="post container">
            <h1>{{post.title}}</h1>
            <div class="row">
                <div class="col-md-9" ng-class-even="'right'" ng-class-odd="'left'">
                    <p ng-repeat="paragraph in post.text">{{paragraph}}</p>
                </div>
                <div class="col-md-3" ng-class-even="'right'" ng-class-odd="'left'">
                    <img ng-src="{{post.image}}" border="0" width="200" height="284" 
                        ng-class-even="'right'" ng-class-odd="'left'" style="border: 2px solid black;">
                </div>
            </div>
        </div> 
    </section>

    <div class="text-center">
        <pagination total-items="totalItems" items-per-page="itemsPerPage" 
            ng-model="currentPage" ng-change="pageChanged()">
        </pagination>
    </div> 
</div>